

.site-header {
	padding-bottom:0;
}



.header-image {
	width:100%;
}

.front-page-header {
	position:relative;



	h1, h2 { 
		color: #fff;
		margin:0;

	}


}


#content .featured-image {
	position:absolute;

}